.navbarmain {
  margin: 0px;
}
.rendi {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.carticon {
  width: 100%;
  margin-right: 10px;
}
.rendich {
  color: yellow;
  float: right;
  margin-right: auto;
  margin-right: 10px;
}
